---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@font-face {
  font-family: "Space Mono";
  src: url(../fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Knewave";
  src: url(../fonts/Knewave-Regular.ttf);
  font-weight: 700;
}
// Variables
$base-font-family: Space Mono, monospace;
$hero-font-family: Knewave, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$base-font-color: midnightblue;
$base-line-height: 1.5;
$spacing-unit: 10px;
$background-color: #fefefe;
$content-max-width: 80vw;
$on-mobile: 700px;

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  background-color: $background-color;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

// Structure
.wrapper {
  max-width: $content-max-width;
  margin: 0 auto;
  h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 20px;
    color: midnightblue;
    line-height: 1.2;
  }
}
.content-wrapper {
  max-width: 40vw;
  min-height: 40vh;
  margin: 4% auto 0 auto;
}
footer {
  text-align: center;
  height: 100px;
  width: 40vw;
  border-top: 4px solid teal;
  margin: 50px auto 30px auto;
  p {
    margin-top: 20px;
  }
}
// Hero Section
#hero {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(45deg, midnightblue, teal);
  background: -o-linear-gradient(45deg, midnightblue, teal);
  background: linear-gradient(45deg, midnightblue, teal);
  h1 {
    line-height: 1;
    font-family: $hero-font-family;
    font-weight: 700;
    font-size: 14vw;
    letter-spacing: 15px;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
    background: url(../images/background.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100vw;
  }
}
// Elements
a {
  color: $base-font-color;
  -webkit-box-shadow: inset 0 -4px 0 teal;
  box-shadow: inset 0 -4px 0 teal;
  -webkit-transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
  text-decoration: none;
  &:hover {
    background-color: teal;
    text-decoration: none;
    color: #fefefe !important;
  }
  &:visited {
    color: $base-font-color;
  }
}
// Labs
.labs-wrapper {
  max-width: 80vw;
  min-height: 40vh;
  margin: 4% auto 8% auto;
  text-align: center;
  #team_wrapper {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #team_info {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  table {
    margin: 30px auto 0 auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    thead {
      color: inherit;
      text-align: center;
    }
    tbody {
      tr:nth-of-type(1) {
        background-color: #aaa;
      }
      tr:nth-of-type(2),
      tr:nth-of-type(3),
      tr:nth-of-type(4) {
        background-color: #ccc;
      }
      tr:nth-of-type(5) {
        background-color: #eee;
      }
      tr:nth-of-type(17) {
        border-bottom: 3px solid rgb(151, 0, 0);
      }
      tr:nth-of-type(18),
      tr:nth-of-type(19),
      tr:nth-of-type(20) {
        background-color: #aaa;
      }
      td {
        border: 1px solid teal;
        border-collapse: collapse;
        padding: 2px;
      }
      .team-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        img {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          -ms-grid-column-align: center;
          justify-self: center;
          height: 25px;
          width: 25px;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }
        p {
          -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
          margin: 0;
        }
        a {
          box-shadow: none;
          &:hover {
            background-color: transparent;
            color: teal !important;
          }
        }
      }
    }
  }
}

// Pages
.page-heading {
  text-align: center;
}
// Posts
.post-list {
}
.post-meta {
}
.post-link {
}
// Media Queries
@media screen and (max-width: $on-mobile) {
  .content-wrapper {
    max-width: 80vw;
    margin: 6% auto 0 auto;
  }
  footer {
    width: 80vw;
    margin-bottom: 60px;
  }
  #hero > h1 {
    font-size: 30vw;
    color: #fefefe;
    background: none;
  }
}
